/*

!/.*
!/README.md
!/lib/
!/src/

/.*history
/.Trash/
/.abduco/
/.android/
/.atom/
/.cabal/
/.cache/
/.dropbox/
/.gem/
/.ghc/
/.git-credentials
/.gitconfig-secret
/.gnupg/
/.hex/
/.indent.pro
/.keepassx/
/.local/
/.mix/
/.rnd
/.ssh/
/.stack/
/.subversion/
/.viminfo
/.weechat/
/.znc/

*.a
*.hi
*.o
*~
old
