/*

!/.*
!/Gemfile*
!/README.md
!/lib/
!/src/

/.*history
/.Trash/
/.abduco/
/.android/
/.atom/
/.bundle/
/.cabal/
/.cache/
/.clipboard
/.dropbox/
/.gem/
/.ghc/
/.git-credentials
/.gitconfig-secret
/.gnupg/
/.hex/
/.indent.pro
/.keepassx/
/.local/
/.m2/
/.mix/
/.npm/
/.oracle_jre_usage/
/.rnd
/.secret/
/.ssh/
/.stack/
/.subversion/
/.vagrant.d/
/.viminfo
/.weechat/
/.znc/

*.a
*.hi
*.o
*~
.DS_Store
.nrepl-*
old
